.hotelCard {
  display: flex;
  flex-direction: column;

  border: 1px solid black;
  width: 300px;
  margin: 10px 10px;
}

.hotelImg {
  width: 300px;
  height: 250px;
  object-fit: cover;
}

.hotelCards {
  display: flex;
}

.starIcon {
  stroke: gold;
  fill: gold;
}

.hotelComponent {
  display: flex;
  flex-direction: column;
}

.reserveButton {
  display: flex;
  align-items: center;
  /* text-align: center; */
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100px;
  height: 50px;
  background-color: rgb(115, 227, 115);
}

.reserveButton:hover {
  background: rgb(61, 95, 61);
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-label {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.form-input {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
}

.form-input:focus {
  border-color: #ef4444; /* 赤系 */
  outline: none;
  box-shadow: 0 0 0 2px rgba(239, 68, 68, 0.2);
}
